<h1><%= @service.name %></h1>
<%= link_to "edit", edit_profile_service_path%>

<p> <%= @service.description %> </p>

<h2>
  Cost: <%= @service.price %>:00
</h2>

<%= form_for Transaction.new, :html => {:class => "transaction"} do |f| %>
  <%= f.hidden_field :service_id, value: @service.id %>
  <%= f.submit "Purchase" %>
<% end %>
