<h1>Edit</h1>

<%= form_for @profile do |f| %>
<!-- <%= f.label :name %> -->
<%= f.text_field :name, :placeholder => "name" %>

<!-- <%= f.label :pic_url %> -->
<%= f.text_field :pic_url, :placeholder => "photo url" %>

<!-- <%= f.label :about_me %> -->
<%= f.text_area :about_me, :placeholder => "about me" %>

<%= f.submit %>

<% end %>
