<!DOCTYPE html>
<html>
<head>
  <title>Timebank</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<div class="site-container">
  <nav class="nav">
    <a class="nav-link" href="/"> Home </a>
    <a class="nav-link" href="/profiles"> Profile </a>
    <a class="nav-link" href="/services"> Services </a>
  <% if session[:user] %>
  <a class="nav-link" href="/sign_out"> sign out</a></h2>
  <span class="welcome">Welcome <%= session[:user]["username"] %>!</span>
<% else %>
  <a class="nav-link" href="/sign_up">Sign up</a>
  <a class="nav-link" href="/sign_in">Sign in</a>
<% end %>
  </nav>
  <div class="content">
      <%= yield %>
  </div>
</div>
</body>
</html>
