<!DOCTYPE html>
<html>
<head>
  <title>timefly</title>
  <%= favicon_link_tag 'https://www.dropbox.com/s/m1d5w0rbsga18lf/timefavicon.png?dl=0' %>
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<div class="site-container">
  <nav class="nav">
    <%= image_tag "timefly.png", :class => "logo"%>
    <a class="nav-link" href="/"> home </a>
    <a class="nav-link" href="/profiles"> profiles </a>
    <a class="nav-link" href="/services"> services </a>
  <!-- if you use the helper_method I showed in application_controller, you can
      use current_user instead of session[:user_id], which I find more readable
    -->
  <% if session[:user_id] %>
  <a class="nav-link" href="/sign_out"> sign out</a></h2>
<% else %>
  <a class="nav-link" href="/sign_up">sign up</a>
  <a class="nav-link" href="/sign_in">sign in</a>
<% end %>
  </nav>
    <div class="content">
      <!-- Nice use of flash! -->
    <div class="notice"><%= flash[:notice] %></div>
      <%= yield %>
      </div>
</div>
<footer>

</footer>
</body>
</html>
